body {
    background: #f8feff;
    font-family: "Times New Roman", Times, serif;
    margin: 40px;
    line-height: 1.6;
  }
  
  h1 {
    text-align: center;
    color: #6f7bfc;
    margin-bottom: 40px;
  }
  
  .project {
    background: #ffffff;
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    padding: 20px;
    width: calc(33% - 40px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .project h3 {
    color: #6f7bfc;
  }
  
  .project img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .project p {
    font-size: 16px;
    color: #333;
  }
  
  .about,
  .skills,
  .contact,
  .projects {
    background: #ffffff;
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    padding: 20px;
    margin: 40px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #6f7bfc;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    color: #333;
    text-align: justify;
  }
  
