/* styles.css */
.resized-image {
  width: 500px;
  height: auto;
}

.with-border {
  border: 5px solid black;
}

.my-element {
  background-color: rgb(255, 0, 0); /* Using RGB values */
}
.center-text {
  text-align: center;
}
