/* styles.css */
.resized-image {
    width: 500px;
    height: auto;
  }
  
  .with-border {
    border: 5px solid black;
  }
  
  body {
    background-color: rgb(255, 0, 0); /* Using RGB values */
  }

  h1 {
    color:#b35900;
    text-align: center;
  }

  .assign {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: #808000;
  }
